<div class="card-columns">
<% @posts.each do |post|%>
  <div class="card">
    <%= image_tag post.featured_image_url, class: "card-img-top" %>
    <div class="card-body">
      <h5 class="card-title"><%= post.blog_entity.name  %></h5>
      <p><%= link_to post.title, post.url, class: 'card-text' %></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><%= post.created_at %></small>
    </div>
  </div>
<% end %>
</div>